<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBRAhwI-g9ZOFb3Gz5bivrgB8Yxchq87aA</string>
	<key>GCM_SENDER_ID</key>
	<string>491317460412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobileTask</string>
	<key>PROJECT_ID</key>
	<string>mobilefluttertask</string>
	<key>STORAGE_BUCKET</key>
	<string>mobilefluttertask.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491317460412:ios:5c431022a6e291b9653fb9</string>
</dict>
</plist>